<a href="/users/<%=@user.id%>">Edit My Profile</a> <a href="/sessions/destroy" data-method="delete">Logout</a>
<h1>Welcome, <%=@user.first_name%>! </h1>
<% if flash[:messages] %>
  <% flash[:messages].each do |note| %>
    <p><%= note %></p>  
  <% end %>
<% end %>

<h2>Here are some of the events at your state:</h2>

<table>
    <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Host</th>
        <th>Action/Status</th>
    </thead>
    <% @state_events.each do |event| %>
        <tr>
            <td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
            <td><%= event.date.strftime("%B %d, %Y") %></td>
            <td><%= event.location %></td>
            <td><%= event.user.first_name %></td>
            <% if event.user == current_user %>
                <td><a href="/events/<%= event.id %>/edit">Edit</a> <a href="/events/<%= event.id %>/destroy">Delete</a></td>
            <% else %>
                <% if event.users.exists?(current_user) %>
                    <td> Joining <a href="/events/<%= event.id %>/attendees/destroy" data-method="delete">Cancel</a></td>   
                <% else %>
                    <td><a href="/events/<%= event.id %>/attendees" data-method="patch">Join</a></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
</table>

<h2>Here are some of the events happening in other states:</h2>
<table>
    <thead>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>State</th>
        <th>Host</th>
        <th>Action</th>
    </thead>
    <% @other_state_events.each do |event| %>
        <tr>
            <td><a href="/events/<%= event.id %>"> <%= event.name %> </a></td>
            <td><%= event.date.strftime("%B %d, %Y") %></td>
            <td><%= event.location %></td>
            <td><%= event.state %></td>
            <td><%= event.user.first_name %></td>
            <% if event.user == current_user %>
                <td><a href="/events/<%= event.id %>/edit">Edit</a> <a href="/events/<%= event.id %>/destroy" data-method="delete">Delete</a></td>
            <% else %>
                <% if event.users.exists?(current_user) %>
                    <td> Joining <a href="/events/<%= event.id %>/attendees/destroy" data-method="delete">Cancel</a></td>   
                <% else %>
                    <td><a href="/events/<%= event.id %>/attendees" data-method="patch">Join</a></td>
                <% end %>
            <% end %>
        </tr>
        </tr>
    <% end %>
</table>

<h2>Add Event</h2>
<form action = "/events" method = "post">
  <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
  <p><label>Name:</label>
  <input type="text" name="name" id = "name"></p>
  <p><label>Date:</label>
  <input type="date" name="date" id = "date"></p>
  <p><label>Location:</label>
  <input type="text" name="location" id = "location">
  <select name="state" id="state">
    <option><%= @user.state %></option>
        <% @states.each do |state| %>
            <option> <%= state %> </option>
        <% end %>
  </select></p>
  <p><input type = "submit" value = "Add Event"></p>
</form>